@import 'fonts.css';
@import 'setting.css';

html,body{
    scroll-behavior: smooth;
}

.header{
    background: url(../images/header_bg.jpg)center/cover no-repeat;
    height: 100vh;
    
}
.logo{
    width: 160px;
    height: 38px;
    border: 3px #62be19 solid;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 24px; 
    text-decoration: none;
    display: flex;
    justify-content: center;
    background: #4e9f0d;

}
.header_link{
    padding: 40px 10px 30px;
    color: var(--green);
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    width: 130px;
    text-align: center;
    transition: 0.5s;
}
.header_link:hover{
background: var(--green75);
}
.header_num{
    height: 24px;
    width: 24px;
    border-radius: 100%;
    background: white;
    color: var(--green);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.header_link:hover .header_num{
    opacity: 1;
}
.header_title{
    font-weight: 900;
    color: var(--green);
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.header_description{
    color: var(--green);
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}
.header_text{
    color: var(--gray);
    font-size: 18px;
    margin-bottom: 75px;
}
.header_price{
    height: 100px;
    width: 350px;
    background: var(--green75);
    font-weight: 100;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
/* ===================
============================================================================================================================= */
.main{
    background: var(--black);
    padding-top: 50px;
}
.menu_nav{
    margin-bottom: 70px;
}
.menu_link{
    font-weight: bold;
    color: #7a7a7a;
    font-size: 20px;  
    margin-right: 50px;
    text-decoration: none;
}
.menu_link:hover{
    color: var(--green);
}
.burger{
    margin-bottom: 50px;
}
.burger_image{
    border: 1px #4d4d4d solid;
    display: flex;
    position: relative;
    overflow: hidden;
}
.burger_img{
    width: 100%;
}
.burger_title{
    font-size: 24px;
    color: var(--green);
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.burger_text{
    color: var(--gray);
    line-height: 24px;
}
.burger_price{
    position: absolute; 
    color: var(--gray);
    font-size: 24px;
    width: 190px;
    height: 60px;
    background: var(--green75);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    transition:0.75s ease-in-out;
}
.burger_cart{
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: white;
    font-size: 24px;
    background: var(--green90);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    top: -100%;
    left: 0;
    transition: 0.75s ease-in-out;
}
.burger_image:hover .burger_cart{
    transform: translateY(100%);
    cursor: pointer;
}
.burger_image:hover .burger_price{
    transform: translateY(100%);
}

.main_section{
    width: 100%;
    background: url(../images/section_bg.jpg) center / cover no-repeat;
}
.section_content{
    padding-top: 50px;
    padding-bottom: 100px;
}
.section_title{
    font-size: 36px;
    text-transform: uppercase;
    color: var(--green);
    margin-bottom: 25px;
}
.main_line{
    width: 200px;
    height: 1px;
    background: var(--green);
    margin-bottom: 60px;
}
.section_text{
    font-size: 18px;
    color: white;
    line-height: 24px;
}
.section_content :nth-child(3){
    margin-bottom: 35px;
}
.section_map{
    background: #ffffff;
}
.map_title{
    color: var(--green);
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 60px;
}
.section_map{
    width: 100%;
    height: 550px;
}
/* ====================================================================================================================================================================
================================================== */
.footer{
    background: #060002;
}
.logo_footer{
    padding-top: 40px;
    padding-bottom: 50px;
}
.footer_tel{
    font-size: 24px;
    color: #4e9f0d;
    font-family: 'Roboto';
    font-weight: bold;
    text-decoration: none;
}
.footer_list{
    justify-content: space-around;
    margin-bottom: 45px;
}
.footer_link{
    font-size: 18px;
    font-weight: 100;
    color: white;
    text-decoration: none;
}
.footer_text{
    text-align: center;
    padding-bottom: 55px;
    font-weight: 100;
    color: white;
}